// stylesheet :: secondary page layout + content styles

    // settings
    $content : 1rem;
    $page : #F3F3F3;

    // styles
    #site-layout.secondary {

        position: static;

        width: 100%;
        min-height: 100vh;

    }

    // content
    #content-container {

        position: relative;

        @include flex-v-t-h-st( false );

        min-height: 100vh;
        padding: 18rem 0 0 0;

        @include fill( $page, 0.000 );

    }

    // page header
    .page-header {



    }

    // page content
    .page-content {

        @include flex-h-s-v-t( false );

        height: auto;
        padding: 3rem 12vh 3rem 12vh;

        @include color( $app05, 0.000 );

    }
