// stylesheet :: highlights panel styles

    // settings
    $highlights : 1rem;

    // styles
    #panel-highschool {

        z-index: 80;

        height: auto;
        padding: 0 0 0 0;

        background: {

            image: url(../img/billboards/dvm/dvm.billboard.05.jpg);

        }

        // overlay
        .panel-overlay {

            @include fill( $cvnavy, 0.165 );

        }

        // content
        .panel-content {

            @include flex-v-c-h-c( false );

            padding: 8rem 5rem 8rem 5rem;

            text-align: center;

            // heading
            h2 {

                @include font( $klavislim, 2rem, 400 );

                @include color( $gold, 0.000 );

            }

            // text
            p {

                margin: 0 0 0 0;

                @include font( $industry, 0.875rem, 500 );

                // @include color( $app05, 0.215 );

            }

            // buttons
            .button-row {

                @include flex-h-c-v-c( false );

            }

            // link
            .document-link {

                @include flex-h-c-v-c( false );

                height: 4rem;
                margin: 2rem 1rem 0 1rem;
                padding: 0.0625rem 1.5rem 0 1.5rem;

                border: 1px solid white;

                @include font( $klavislim, 1rem, 400 );

                @include text( $up );

                @include typo( 0.875rem, 0.065em );

                @include color( $g140, 0.000 );

                @include color( white, 0.000 );

                // @include fill( $roarange, 0.000 );

                transition: all 220ms linear 0ms;

                // hover state
                &:hover {

                    // border-color: $roarange;

                    @include color( white, 0.000 );

                    @include fill( $g140, 0.000 );

                }

            }

        }

    }
